* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.box {
  width: 20rem;
  background-color: lightblue;
  border-radius: 10px;
}
.imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
