* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  border: 2px solid black;
  gap: 20px;
  background-color:lightskyblue;
}
.link {
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  color: black;
}
